<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AlgoTimestamp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

    <link href="/css/main.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto mb-0 text-light" href="/">AlgoTimestamp
            <small class="text-warning"> - Notarization on the Algorand blockchain</small></a>
    </div>
</nav>

<div class="container rounded border p-3 my-5">
    <form method="POST" enctype="multipart/form-data" th:action="@{/notarize}">
        <div class="row">
            <div class="col">
                <h2 class="text-primary">Notarize a Document</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input id="notFile" class="form-control" type="file" name="file"/>
            </div>
            <div class="col-4">
                <label for="note" class="visually-hidden">Note</label>
                <input id="note" class="form-control" maxlength="128" placeholder="Note" type="text" name="note"/>
            </div>
            <div class="col-2 d-grid" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <button type="submit" class="btn btn-primary">Notarize</button>
            </div>
        </div>
    </form>
</div>

<div class="container rounded border p-3 my-5">
    <h2 class="text-primary">Verify Packet</h2>
    <form method="POST" enctype="multipart/form-data" th:action="@{/verify}">
        <div class="row">
            <div class="col-10">
                <input id="verFile" class="form-control" type="file" name="file"/>
            </div>
            <div class="col-2 d-grid">
                <button type="submit" class="btn btn-primary">Verify</button>
            </div>
        </div>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please wait</h5>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">working...</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
